@use '../templates/main/styles/main-styles/variables.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: $main-background-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
