<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../main/images/logo.png" type="image/x-icon" />
    <title>Blingpay</title>
    <link rel="stylesheet" href="./styles.scss">
</head>

<body>
    <section class="section section-main">
        <div class="container">
            <header class="header">
                <div class="header__logo">
                    <img src="../main/images/logo.png" alt="Blingpay logo">
                    <span class="header__logo-text">Blingpay</span>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">Products</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">Developers</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">Company</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#" class="header__nav-link">Pricing</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__actions">
                    <button class="header__actions-button">Support</button>
                    <button class="header__actions-button">Sign in</button>
                </div>
            </header>
            <div class="main">
                <div class="main__content">
                    <h1 class="main__content-title">Get Your Payment Faster</h1>
                    <p class="main__content-text">Blinqpay helps businesses in Africa get paid by anyone, anywhere in
                        the
                        world</p>
                    <button class="main__content-button">Start Now</button>
                </div>
                <!-- <div class="main__image">
                    <img src="" alt="Phone with Blingpay app">
                </div> -->
            </div>
        </div>

    </section>
    <script type="module" src="./index.js"></script>
</body>

</html>