.section-customer {
  background-image: url('./images/icons/background-absolute-img-3.svg');
  max-width: 1500px;
  padding: 108px 0 0 0;
}

.customer {
  display: flex;
  justify-content: space-between;
  // padding: 0 20px;
}

// .customer-description {
// }

.customer-list {
  width: 623px;
  height: 556px;
}
