@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.header {
  @include flex(initial, space-between, center, 0);
  background-color: transparent;
  padding: 10px;
  text-align: center;
  margin-bottom: 160px;
}

.header__logo {
  @include flex(initial, initial, center, 0 8px);
  cursor: pointer;
  &-text {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
}

.header__nav-list {
  @include flex(initial, center, center, 0 41px);
}

.header__actions-button {
  color: #fff;
  background-color: transparent;
  padding: 12px 40px;
  border-radius: 96px;
  font-size: $main-font-size;
  font-weight: 700;
  font-family: 'Proxima Nova', sans-serif;
  cursor: pointer;
}

.header__actions-button:nth-child(2) {
  background-color: #ffbc51;
}

.section-main {
  max-height: 760px;
  width: 100%;
  height: 760px;
}

.main {
  display: flex;
}

.main__content {
  @include flex(column, initial, left, 18px 0);
  &-title {
    font-size: 54px;
    font-weight: 800;
    font-family: Proxima Nova, sans-serif;
  }
  &-text {
    margin-bottom: 20px;
  }
  &-button {
    max-width: 200px;
    height: 50px;
    background-color: #798ac9;
    padding: 15px 60px;
    border-radius: 4px;
    font-size: $button-font-size;
    color: $main-text-color;
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif;
    cursor: pointer;
  }
}

.main__image {
  margin-top: 20px;
  img {
    max-width: 100%;
  }
}
